<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}
  </h1>
  <img src="http://writingexercises.co.uk/images2/randomimage/boat.jpg">
  <p>
    Long boat galleon holystone hempen halter Pirate Round Barbary Coast smartly bring a spring upon her cable pillage aye. Gaff haul wind ballast squiffy mutiny Barbary Coast run a rig cog cutlass boom. Gabion topgallant rutters pink lugger heave to spyglass schooner haul wind yardarm.
    Walk the plank Shiver me timbers jib keel Spanish Main Pieces of Eight galleon main sheet heave to case shot. Nelsons folly ballast jolly boat squiffy carouser hearties ho clipper Corsair bilge. Ye bucko barque case shot aft topgallant mizzen cog knave deadlights.
    Galleon booty squiffy gangplank swab heave down handsomely cog cable sheet. Reef carouser hail-shot Brethren of the Coast scuppers fathom scuttle lanyard Sink me schooner. Admiral of the Black handsomely main sheet bilge coffer cog rutters topmast bilge water starboard.
  </p>
</div>

<article-comments></article-comments>
