<h2> Comments </h2>

<div class="commentPost">
  <div>
    <h3> <b>Markus Heppit</b> </h3>
    <p>
      <em>11/09/2016  11:36am</em>
    </p>
  </div>
  <div>
    <p>
      Life out at sea is an adventure every day.
    </p>
  </div>
</div>

<h2> Add A Comment </h2>
<br />
<form class="commentAdd">
  <label for="comment-input-name"> What is your name </label>
  <input id="comment-input-name" placeholder="e.g. Ryan Teekee" />
  <br />

  <label for="comment-input"> What is your comment </label>
  <textarea id="comment-input" placeholder="e.g. I Love doing stuff!"></textarea>
</form>
